body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: #f3f5f7;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: #1A1110;
    margin-bottom: 5%;
}

.button {
    height: 5vh;
    min-height: 30px;
    width: 15vh;
    min-width: 130px;

    border-radius: 5px;
    border: 0;
    outline: 0;
    
    background-color: #c8d7e6;
    margin: 10px;
}

.text {
    margin-top: 0;
    font-size: 1.1em;
}

.modalContainers {
    display: flex;
    justify-content: center; 
}

.modal {
    display: none;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.modal .content {
    background-color: #D3D3D3;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 5px;
    width: 40%; 

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'LexendDeca-Regular';
    color: var(--title);
}

#modal1 {
    z-index: 1;
    top: 30%;
}

#modal2 {
    z-index: 2;
    top: 50%;
}